<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Appointment Scheduling</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ml-auto">Navigation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/care-providers">Browse Care Providers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patient-appointments">View Appointments</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<body>
    <div class="container">
        <h1>Appointment Details</h1>
        
        <hr>

        <form action="#" th:action="@{/saveAppointment}" th:object="${appointment}" method="GET">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <span>Appointment Date:</span><input type="text" th:field="*{appointmentDate}" class="form-control mb-4 col-4" disabled readonly>
            
            <span>Appointment Overview:</span><input type="text" th:field="*{appointmentOverview}" class="form-control mb-4 col-4" disabled readonly>

            <span>Reported Symptoms:</span><input type="text" th:field="*{patientSymptoms}" class="form-control mb-4 col-4" disabled readonly>

            <span>Doctor ID:</span><input type="text" th:field="*{doctorId}" class="form-control mb-4 col-4" disabled readonly>

            <span>Doctor First Name:</span><input type="text" th:field="*{doctorFirstName}" class="form-control mb-4 col-4" disabled readonly>

            <span>Doctor Last Name:</span><input type="text" th:field="*{doctorLastName}" class="form-control mb-4 col-4" disabled readonly>

            <span>Doctor Email:</span><input type="text" th:field="*{doctorEmail}" class="form-control mb-4 col-4" disabled readonly>

            <span>Doctor Phone Number:</span><input type="text" th:field="*{doctorPhone}" class="form-control mb-4 col-4" disabled readonly>

            <span>Medical Practice:</span><input type="text" th:field="*{doctorAddress}" class="form-control mb-4 col-4" disabled readonly>

        </form>

        <hr>

        <a th:href="@{/patient-appointments}"> Back to Appointment List</a>
    </div>
</body>

</html>